
.language-container {
    text-align: center;
    display: inline-block;
    width: auto;
    position: absolute;
    top: 3%;
    right: 2%;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    /* margin: 5px;  */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;

    &:hover{
        background-color: rgb(92, 92, 92);
    }
    &:active {
        background-color: rgb(255, 255, 255);
        color: black;
        border: black;
        border-radius: 5px;

    }

}

#selectLanguageBtn {
    text-align: left;
}

img {
    width: 25px; 
    height: 25px; 
    margin-right: 10px; 
}

.drapeau {
    width: 30px; 
    height: 25px; 
    margin-right: 10px; 
}

#languageButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hidden {
    visibility: hidden;
}


.decouverte {
    position: absolute;
    top: 3%;
    left: 2%;
    color: white;
    font-size: 150%;
    margin: none;
    font-family: Verdana, sans-serif;
    
}
.texteDecouv {
    margin-top: 1%;
}
